.example-card {max-width:100%!important;}
  /* .modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
  .modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);} */

  /* .modal.fade .modal-dialog{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  } */
  
  /* .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 1s all 0s;
    -moz-transition: 1s all 0s;
    -ms-transition: 1s all 0s;
    -o-transition: 1s all 0s;
    transition: 1s all 0s;
    display: block !important;
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  } */

  
/* body.modal-close {height: 100vh;overflow-y: hidden;} */