
 <app-adminheader></app-adminheader>
 <div class="page-body-wrapper">
 
 <app-adminsidebar class="sidebarMain"></app-adminsidebar>
 <div class="main-panel">
     <div class="content-wrapper">
         <div class="card">
          <div class="card-body">
             <div class="titleSec">
                 <h2>Update Member</h2>
                   </div>
                    <form #logForm="ngForm" (ngSubmit)="logSubmit(logForm.value)">
                        <div class="row">
                         
                               <input type="hidden" name="user" id="default_user" [(ngModel)]="default_user" >
                               <input type="hidden" name="emp_list" id="emp_list"  #emp_id="ngModel" ngModel>
                               <!-- <input type="hidden" name="emp_status" id="emp_status"  #emp_status="ngModel" ngModel> -->
    
                            <!-- For Select Team -->
                            <div class="col-12 mb-3">
                            <b>Team</b>
                            <select name="team_id" id="Team_id" class="form-control" #team_id="ngModel" [(ngModel)]="id" disabled>
                                <option value="">Select</option>
                                <option *ngFor='let team of team_name' value="{{team.id}}">{{team.team_name}}</option>
                            </select>
                            </div>
                        <!-- For drop tram member -->
                        <!-- <mat-card class="example-card"> -->
                            <div class="col-6 text-center">
                            <mat-card class="example-card">
                                <div class="example-container">
                                <h2>Team Member  <button type="button" class="btn btn-info float-right rounded-circle" (click)="selectall('todo')" [hidden]="this.selected_member.length==0"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                </h2>
                                <div
                                    cdkDropList
                                    #todoList="cdkDropList"
                                    [cdkDropListData]="selected_member"
                                    [cdkDropListConnectedTo]="[doneList]"
                                    class="example-list"
                                    (cdkDropListDropped)="drop($event)"
                                    >
                                    <div class="example-box" name="todo" *ngFor="let item1 of selected_member" cdkDrag>{{item1.emp_name}}
    
                                        <small [ngClass]="{'text-danger': item1.user_type=='IC'}">({{item1.user_type}})</small></div>
                                </div>
                                </div>
                            </mat-card>
                            </div>
                            <div class="col-6 text-center">
                            <mat-card class="example-card">
                                <div class="example-container">
                                <h2><button type="button" class="btn btn-info float-left rounded-circle" (click)="selectall('done')" [hidden]="this.All_Employee.length==0"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>Employees</h2>
                                <div
                                    cdkDropList
                                    #doneList="cdkDropList"
                                    [cdkDropListData]="All_Employee"
                                    [cdkDropListConnectedTo]="[todoList]"
                                    class="example-list"
                                    (cdkDropListDropped)="drop($event)"
                                >
                                    <div class="example-box" name="done" *ngFor="let item of All_Employee" cdkDrag>{{item.emp_name}}({{item.user_type}})
    
                                        <small class="text-success">{{item.emp_status}}</small></div>
                                </div>
                                </div>
                            </mat-card>
                            </div>
                            <!-- End -->
                            <!-- </mat-card> -->
                        </div>
                        <div class="row">
                            <div class="col-4">
                            <div class="btnSubmitSec">
                                <input type="submit" class="btn btn-info" value="Save" [disabled]="logForm.invalid || this.selected_member.length=='0'">&nbsp;
                            <button type="reset" class="btn btn-light" (click)="logForm.reset();this.selected_member.length=0;">Cancel</button></div>
                            </div>
                        </div>
                        </form>
                </div>
            </div>
         </div>
    </div>
</div>

