
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="firstTimeCahange">
                <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
              <div class="firstTimeChangeHeader">
                <img src="assets/images/logoWhit.png" height="120" width="120" routerLink='/login' onclick="localStorage.clear()"/>
              </div>
                  
             <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>

                <form #logForm="ngForm" (ngSubmit)="Submit(logForm.value)">
                <div class="form-data" >
                    <input type="hidden" name="user" [(ngModel)]="user" class="form-control">
                    <input type="hidden" name="emp_id" [(ngModel)]="Emp_id" class="form-control">

                    <div class="forms-inputs mb-4"> <strong>Old Password</strong> 
                        <input  type="password"  class="form-control" name="old_pass" id="old_pass" #old_pass="ngModel" ngModel required>
                        <i class="toggle-password fa fa-eye-slash" style="cursor:pointer"></i>
                        <div *ngIf="old_pass.errors?.required && (old_pass.touched || old_pass.dirty)" class="text-danger">
                            <small>*Please provide old password</small>
                          </div>
                    </div>
                    <div class="forms-inputs mb-4"> 
                        <strong>New Password</strong> 
                        <input  type="password" class="form-control" name="pass" id="pass" #pass="ngModel" ngModel required>
                        <i class="toggle-newpassword fa fa-eye-slash" style="cursor:pointer"></i>

                        <div *ngIf="pass.errors?.required && (pass.touched || pass.dirty)" class="text-danger">
                            <small>*Please provide new password</small>
                          </div>
                    </div>

                    <div class="forms-inputs mb-4"> 
                        <strong>Confirm Password</strong> 
                        <input  type="password" class="form-control" name="conf_pass" id="conf_pass" #conf_pass="ngModel" ngModel required>
                        <i class="toggle-confpassword fa fa-eye-slash" style="cursor:pointer"></i>
                        <div *ngIf="conf_pass.errors?.required && (conf_pass.touched || conf_pass.dirty)" class="text-danger">
                            <small>*Please provide confirm password</small>
                          </div>
                    </div>
                    <div class="mb-3"> 
                        <input type="submit" class="btn btn-dark w-100" value="Save" [disabled]="logForm.invalid">
                    </div>
                </div>
             </form>
            </div>
        </div>
    </div>
</div>