<app-header [headername]="headername" [icon]="icon"></app-header>
<div class="page-body-wrapper">
	<app-sidebar class="sidebarMain" (_u_status)="getUsers($event)"></app-sidebar>

	<div class="main-panel">
		<div class="content-wrapper">
            <div class="card whiteBoxComon_cardCus">
                <div class="card-body">
                    <mat-form-field appearance="outline" >
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search User" #input>
                       </mat-form-field>
                       <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff"  type = "ball-clip-rotate"  [fullScreen] = "true"><p  style="color: white">Please Wait....</p></ngx-spinner>
                       <!-- <div class="mat-elevation-z8"> -->
                        <div class="mat-elevation-z8">

                                 <table mat-table [dataSource]="dataSource" matSort>
                                   <ng-container matColumnDef="User_Name">
                                     <th mat-header-cell *matHeaderCellDef class='text-center'> Name </th>
                                     <td mat-cell *matCellDef="let row" class='text-center'> {{row.emp_name}}</td>
                                   </ng-container>
                                   <ng-container matColumnDef="Position">
                                     <th mat-header-cell *matHeaderCellDef class='text-center'>Position</th>
                                     <td mat-cell *matCellDef="let row" class='text-center'>{{row.position}}</td>
                                   </ng-container>
                                      <ng-container matColumnDef="Team">
                                          <th mat-header-cell *matHeaderCellDef class='text-center'>Team</th>
                                          <td mat-cell *matCellDef="let row" class='text-center'>{{row.team_name}}</td>
                                        </ng-container>
                                      <ng-container matColumnDef="Status">
                                          <th mat-header-cell *matHeaderCellDef class='text-center'>Status</th>
                                          <td mat-cell *matCellDef="let row" class='text-center'>
                                            <!-- <strong *ngIf="row.user_status=='O' || row.user_status==null" class='text-danger'>Logged Out</strong>
                                            <strong *ngIf="row.user_status=='L'" class='text-success'>Logged In</strong> -->
                                            <strong [ngClass]="row.user_status == 'O' ||  row.user_status==null ? 'text-danger' : 'text-success'">{{row.user_status == 'O' || row.user_status==null ? 'Logged out' : row.user_status == 'L' ? 'Logged In' : row.user_status == 'C' ? 'On a Call' : row.user_status == 'S' ? 'Stand Down' : 'In a meeting'}} </strong>
                                         </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Active Since">
                                          <th mat-header-cell *matHeaderCellDef class='text-center'>Active Since</th>
                                          <td mat-cell *matCellDef="let row" class='text-center'>
                                                <span *ngIf="row.log_dt">{{setHoursMinutes(row.last_login)}}</span>
                                                <span *ngIf="!row.log_dt">N/A</span>
                                         </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Last login">
                                          <th mat-header-cell *matHeaderCellDef class='text-center'>Last Login</th>
                                          <td mat-cell *matCellDef="let row" class='text-center'>
                                                <!-- <span *ngIf="row.log_dt">{{setHoursMinutes(row.last_login)}}</span>
                                                <span *ngIf="!row.log_dt">N/A</span> -->
                                                {{row.last_log_time | date:'dd/MM/YYYY HH:mm'}}
                                         </td>
                                        </ng-container>

                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                   <tr class="mat-row" *matNoDataRow>
                                     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                   </tr>
                                 </table>

                                 <mat-paginator [pageSizeOptions]="[100, 500, 700]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>

                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
