

<app-adminheader></app-adminheader>
<div class="page-body-wrapper">

  <app-adminsidebar class="sidebarMain"></app-adminsidebar>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="titleSec">
            <div class="btnSubmitSec ">
              <h2 >Contact Information</h2>
              <input type="submit" class="btn btn-info float-right" (click)="routeToMediaModification(0)" value="Add">
            </div>
           </div>
<app-information></app-information>
</div>
</div>
</div>
</div>
</div>

