

table {width: 100%;}
th{background-color: #f2f2f2; }
  /* For displaying page size over a Modal */
  .cdk-overlay-connected-position-bounding-box,
  .cdk-global-overlay-wrapper,
  .cdk-overlay-container{
  z-index: 99999 !important;
  }

mat-list{transition: all 1s ease;}
::ng-deep .mat-button-focus-overlay {
  background-color: whitesmoke!important;
}
.table th, .table td {vertical-align: middle!important;}
