<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
	<div class="text-left navbar-brand-wrapper d-flex logo">
          <img src="assets/images/logoWhit.png" alt=""/>

		   <!-- Changes Need to be removed-->
		   <small style="margin: auto;
		   "><strong>{{_date}}</strong></small>
		   <!--End  -->

    </div>
	<div class="navbar-menu-wrapper d-flex align-items-center">


		<div class="breadCamp">
            <!-- <a><i class="fa {{icon}}" aria-hidden="true"></i></a> <strong>{{headername}}</strong> -->
            <h3 class="greeting">Welcome, {{Emp_name}}</h3>
        </div>

		<ul class="topMenuRight">
			<!-- <li><i class="fa fa-bell fa-2x active dropdown" aria-hidden="true"></i></li> -->
		<li class="userDrop dropdown">
			<a class="nav-link"  matBadge="{{_TOTAL_LENGTH_NOTIFICATION > 99 ? '99+' : _TOTAL_LENGTH_NOTIFICATION}}" matBadgeOverlap="false" [matBadgeHidden]="_TOTAL_LENGTH_NOTIFICATION == 0"  matBadgeSize="medium"  id="drop1" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><i class="fa fa-bell fa-2x" aria-hidden="true"></i></a>
		    <!-- <div class="arrow-up"></div> -->
			<div class="dropdown-menu customDropdown">
				<!-- <h2>Notifications</h2> -->

        <ng-container *ngIf="_TOTAL_LENGTH_NOTIFICATION > 1">
			   <div class="notifications-item" *ngFor="let notify of notifications;let i=index">
				   <img src="assets/images/no-user.png" alt="img" *ngIf="notify.img==null">
				   <img src="{{url}}{{notify.img}}" alt="img" *ngIf="notify.img!=null">
				   <div class="text" (click)="gotoNotifications(notify.id,'AN')">
            <h4>{{notify.emp_name}}</h4>
            <p>{{notify.narration}}</p>
				  </div>
				</div>
      </ng-container>
      <ng-container *ngIf="_TOTAL_LENGTH_NOTIFICATION == 1">
        <div class="user">
          <h3>No Notfications Available</h3>
        </div>
      </ng-container>
      <button class="btn custom_btn btn-block btn-sm" *ngIf="_show_btn" (click)="gotoNotifications(0,'D')">Show All</button>

				</div>

			</li>
				<li class="userDrop dropdown">
					<a class="nav-link" id="drop1" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
					<img src="assets/images/thum.png" alt="profile" class="thumImg">
					<!-- <span class="nav-profile-name">{{name}}</span> -->
				  </a>
				<div class="dropdown-menu logoutPopup">
					<a  class="profileEditPopup"  data-toggle="modal" data-target="#admin_profile" ><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>

					<div class="thumLogout"><img src="assets/images/thum.png" alt="profile" class="thumImg"></div>
					<div class="user">
					 {{this.Name}}
					<a>{{this.Email}}</a>
					</div>

					<a (click)="logout()" class="signOut">Sign Out</a>
					</div>

					</li>

		</ul>
		<!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fa fa-bars"></span>
      </button> -->

	</div>




</nav>



<!-- The Profile Modal -->
<div class="modal fade" id="admin_profile">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">

		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Profile</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>

		<!-- Modal body -->
		<div class="modal-body">
			<mat-tab-group mat-stretch-tabs dynamicHeight >
				<mat-tab label="Profile" >
				  <div class="example-large-box">
					<form #logForm="ngForm" (ngSubmit)="Submit(logForm.value)" ngNativeValidate>
						<div class="row mt-3">
							<div class="col-6">
								<input type="hidden" name="user" [(ngModel)]="Email" class="form-control">
								<input type="hidden" name="emp_id" [(ngModel)]="Emp_id" class="form-control">
								<label>Name</label>
								 <input type="text" name="emp_name" id="Name" #emp_name="ngModel" ngModel required class="form-control">
								 <div *ngIf="emp_name.errors?.required && (emp_name.touched || emp_name.dirty)" class="text-danger mt-2">
									<strong>*Please provide Name</strong>
								  </div>
							</div>
							<div class="col-6">
								<label>Email</label>
								 <input type="email" name="email" id="email" #email="ngModel" ngModel  class="form-control" readonly>

							</div>
						</div>
						<div class="row mt-3">
							<div class="col-6">
								<label>Contact No.(Personal)</label>
								 <input type="text" maxlength="10" minlength="10" name="per_cnct_no" id="Per_cnct_no" #per_cnct_no="ngModel" required ngModel class="form-control" (keypress)="PreventNonNumeric($event)">
								 <div *ngIf="per_cnct_no.errors?.required && (per_cnct_no.touched || per_cnct_no.dirty)" class="text-danger mt-3">
									<strong>*Please provide personal contact no</strong>
								  </div>
							</div>
							<div class="col-6">
								<label>Contact No.(ER)</label>
								 <input type="text" maxlength="10" minlength="10" name="er_cnct_no" id="Er_cnct_no" #er_cnct_no="ngModel" ngModel  class="form-control" (keypress)="PreventNonNumeric($event)">

							</div>
						</div>

						<div class="row mt-3">
							<div class="col-6">
								<label>User Type</label>
								 <input type="text" name="user_type" id="user_type" #user_type="ngModel" ngModel class="form-control" readonly>

							</div>

						</div>
						<div class="btnSubmitSec mt-4 mb-3 float-right">
							<input type="submit" value="Save" class="btn btn-info" [disabled]="logForm.invalid">

						</div>
					</form>
				  </div>
				</mat-tab>
				<mat-tab label="Change Password" >
				  <div class="example-large-box">
					<form #LogForm="ngForm" (ngSubmit)="Submit_password(LogForm.value)" ngNativeValidate>
						<div class="row mb-2">

							<div class="col-6 ">
			                   <input type="hidden" name="user" [(ngModel)]="Email" class="form-control">
			                   <input type="hidden" name="emp_id" [(ngModel)]="Emp_id" class="form-control">

								<label>Old Password</label>
								<input  [type]="_o_pass ? 'password' : 'text'"  class="form-control" name="old_pass" id="old_pass" #old_pass="ngModel" ngModel required>
                <mat-icon (click)="show_pass('O')" class="toggle-password">remove_red_eye</mat-icon>
								<div *ngIf="old_pass.errors?.required && (old_pass.touched || old_pass.dirty)" class="text-danger mt-3 h-5">
									<strong>*Please provide old password</strong>
								  </div>
							</div>
							<div class="col-6"></div>
							<div class="col-6 mt-3">
								<label>New Password</label>
								<input  [type]="_n_pass ? 'password' : 'text'" class="form-control" name="pass" id="pass" #pass="ngModel" ngModel required>
                <mat-icon (click)="show_pass('N')" class="toggle-password">remove_red_eye</mat-icon>

								<div *ngIf="pass.errors?.required && (pass.touched || pass.dirty)" class="text-danger mt-3 h-5">
									<strong>*Please provide new password</strong>
								  </div>
							</div>
							<div class="col-6"></div>
							<div class="col-6 mt-3">
								<label>Confirm Password</label>
								<input  [type]="_c_pass ? 'password' : 'text'" class="form-control" name="conf_pass" id="conf_pass" #conf_pass="ngModel" ngModel required>
                <mat-icon (click)="show_pass('C')" class="toggle-password">remove_red_eye</mat-icon>

								<div *ngIf="conf_pass.errors?.required && (conf_pass.touched || conf_pass.dirty)" class="text-danger mt-3 h-5">
									<strong>*Please provide confirm password</strong>
								  </div>
							</div>
						</div>
						<div class="btnSubmitSec mt-4 mb-3 float-right">
							<input type="submit" value="Save" class="btn btn-info"  [disabled]="LogForm.invalid">
							<input type="RESET" value="RESET" class="btn btn-light">

						</div>
					 </form>
				  </div>
				</mat-tab>
			  </mat-tab-group>

      </div>
		</div>
	</div>
</div>




