
.selectedIcon{
  font-size: 15px;
}
.logoutPopup .NotificationContent{
  cursor: pointer;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
}

::ng-deep .mat-list-base .mat-list-item .mat-line{
  white-space: normal!important;
  font-size: 12px !important;
  font-weight: 500!important;
  text-align: left;
}

::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar{
  height: auto!important;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding: 8px 12px!important;
}
.mat-subheader{
  justify-content: space-between!important;
  border-bottom: 1px solid #e3e3e3;
}
.user img{
  height: 37px;width:37px;
}
.user{
  text-align: center;
  margin: 5px 60px;
}

.user h3{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
