/* table {
    width: 100%;
  }

  th.mat-header-cell {
    text-align: left;
    font-size: 15px;
    color: #fff;
    background: #213f79;
} */
/* td{
    width:17.5%;
} */
/* mat-form-field{
    width:40%
} */
