

<section class="vh-100">
	<div class="container py-5 h-100">
	  <div class="row d-flex align-items-center justify-content-center h-100">
		<div class="col-md-8 col-lg-7 col-xl-6">
		  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
		</div>
		<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		  <form #logForm="ngForm" (ngSubmit)="submitForm(logForm.value)">
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="new_pass">New Password</label>
			  <input type="password" id="new_pass" class="form-control form-control-lg"  name="password" #password="ngModel" ngModel required />
              <div *ngIf="password.errors?.required && (password.touched || password.dirty)" class="text-danger">
                *Please Provide New Password
              </div>
			</div>


            <div class="form-outline mb-4">
				<label class="form-label" for="conf_pass">Confirm Password</label>
			  <input type="password" id="conf_pass" class="form-control form-control-lg"  name="conf_password" #conf_password="ngModel" ngModel required />
              <div *ngIf="conf_password.errors?.required && (conf_password.touched || conf_password.dirty)" class="text-danger">
                *Please Provide Confirm Password
              </div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Save</button>

		  </form>
		</div>
	  </div>
	</div>
  </section>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>


