

<section class="vh-100">
	<div class="container py-5 h-100">
	  <div class="row d-flex align-items-center justify-content-center h-100">
		<div class="col-md-8 col-lg-7 col-xl-6">
		  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
		</div>
		<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		  <form #logForm="ngForm" (ngSubmit)="submitForm(logForm.value)" ngNativeValidate>
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="email">Email address</label>
			  <input type="email" id="email" class="form-control form-control-lg"  name="email" #email="ngModel" ngModel required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"/>
              <div *ngIf="email.errors?.required && (email.touched || email.dirty)" class="text-danger mt-3  h6">
                *Please Provide Email
              </div>
              <div *ngIf="email.touched" >
                <div class="text-danger mt-3  h6" *ngIf="email.errors?.pattern">
                  *Not a valid email
               </div>
            </div>
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="password">Password</label>
			  <input type="password" id="password" class="form-control form-control-lg" name="password" #password="ngModel" ngModel required/>
              <div *ngIf="password.errors?.required && (password.touched || password.dirty)" class="text-danger mt-3  h6">
                *Please Provide Password
              </div>
			</div>

            <!-- <div id="html_element"></div> -->

			<div class="d-flex justify-content-start mb-4">
                <a routerLink="/admin/forgetpassword" routerLinkActive="true" style="cursor: pointer;">Forgot password?</a>
			</div>
            <!-- <input type="hidden" id="check_captcha" value="0"> -->
			<!-- Submit button -->
			<!-- <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="logForm.invalid" id="submit">Sign in</button> -->
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Sign in</button>

		  </form>
		</div>
	  </div>
	</div>
  </section>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Logging In... </p></ngx-spinner>

