
<div class="loginContainer">

	<div class="loginContainerSub">
	<div class="col-sm-7 loginLeft float-left">
		<img src="assets/images/logoLogin.png" alt="" class="logoLogin" [routerLink]="'/'"/>
<div class="leftLoginSec">
		<img src="assets/images/imgLogin.png" alt=""/>
		<h2>Welcome To Virtual Emergency Response Management</h2>
	<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
		</div>
	</div>
	<div class="col-sm-5 loginRight float-left">
		<h1>Login</h1>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
		<div class="loginForm">
			<form #logForm="ngForm" (ngSubmit)="submitForm(logForm.value)" ngNativeValidate>
				<!-- Email input -->

					<label class="form-label" for="email">Email address</label>
				  <input type="email" id="email" class="form-control"  name="email" #email="ngModel" ngModel required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"/>
				  <div *ngIf="email.errors?.required && (email.touched || email.dirty)" class="text-white">
					*Please Provide Email
				  </div>
				  <div *ngIf="email.touched">
					<div class="text-white" *ngIf="email.errors?.pattern">
					  *Not a valid email
				   </div>
				</div>
				<ngx-spinner bdColor = "rgb(27 27 27 / 80%)" size = "medium" color = "#fffdfd" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white;" > Logging In.. </p></ngx-spinner>
				<!-- Password input -->
					<label class="form-label mt-3" for="password">Password</label>
				  <input type="password" class="form-control" id="password" name="password" #password="ngModel" ngModel required/>
				  <div *ngIf="password.errors?.required && (password.touched || password.dirty)" class="text-white">
					*Please Provide Password
				  </div>
						<label class="forgetPass"><a routerLink='/user/forgotPassword'>Forgot Password?</a></label>

			<input type="submit" class="loginBtn" value="Login" >
			</form>
		</div>
	</div>
	</div>

</div>









