<app-header [hidden]="_u_type == 'A'"></app-header>
<app-adminheader [hidden]="_u_type != 'A'"></app-adminheader>

<div class="page-body-wrapper">
	<app-sidebar class="sidebarMain" [hidden]="_u_type == 'A'"></app-sidebar>
  <app-adminsidebar class="sidebarMain" [hidden]="_u_type != 'A'"></app-adminsidebar>
	<div class="main-panel">
		<div class="content-wrapper">
              <section class="section-50" *ngIf="_notifications.length > 0">

                    <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>

                    <div class="notification-ui_dd-content">
                        <div class="notification-list notification-list--unread" *ngFor="let _notification of _notifications;let i=index" (click)="clickToSeeNotifications(_notification.id,_notification.activity)">
                            <div class="notification-list_content">
                                <div class="notification-list_detail">
                                    <p class="text-muted">{{_notification.narration}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>


            <div class="card-body"  *ngIf="_notifications.length == 0">
              <div class="titleSec text-center">
              <h2>No Notification available</h2>
            </div>
            </div>
            <!-- </div> -->
          <!-- </div> -->


    </div>
    </div>
    </div>
