<app-header></app-header>

<div class="page-body-wrapper">
	<app-sidebar class="sidebarMain"></app-sidebar>

	<div class="main-panel">
		<div class="content-wrapper">


          <!-- <div class="card"> -->
            <!-- <div class="card-body"> -->
              <!-- <div class="titleSec">
                <h2>Notifications</h2>
              </div> -->


              <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="Notifications">
                  <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element" >
                    <span (click)="clickToSeeNotifications(element.id)" class="customlink">{{element.narration}}</span>

                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table> -->

              <section class="section-50">
                <div class="container">
                    <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>

                    <div class="notification-ui_dd-content">
                        <div class="notification-list notification-list--unread" *ngFor="let _notification of _notifications">
                            <div class="notification-list_content">
                                <div class="notification-list_detail">
                                    <p class="text-muted">{{_notification.narration}}</p>
                                    <p class="text-muted"><small>10 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="titleSec">
                      <div class="btnSubmitSec text-center">
                        <input type="submit" class="btn btn-info" value="Load More Activity" (click)="setDataSource()">

                        </div>
                     </div>

                </div>
            </section>
            <!-- </div> -->
          <!-- </div> -->


    </div>
    </div>
    </div>
