<app-header [headername]="headername" [icon]="icon" [IncID]="incId"></app-header>
<div class="page-body-wrapper">
<app-sidebar class="sidebarMain"></app-sidebar>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="alert alert-warning text-center"  *ngIf="check_active=='N'">
                <strong>Warning!</strong> No team is in roaster.
              </div>
         <div class="card-body">
            <div class="titleSec" >
             <h2 >Create Incident</h2>
             </div>
             <form #logForm="ngForm" (ngSubmit)="logSubmit(logForm.value)">
            <div class="row">

             <div class="col-6">
               <div class="form-group row">
                    <label  class="col-sm-12 col-form-label">Incident Type</label>
                    <div class="col-sm-12">
                    <input type="hidden" class="form-control"  name="id" ngModel #id="ngModel" >
                    <input type="hidden" class="form-control"  name="user" #user="ngModel" ngModel>
                    <input type="hidden" class="form-control"  name="inc_status" #inc_status ="ngModel" ngModel>


                    <select class="form-control" id="type" name="inc_type_id" ngModel #inc_type_id="ngModel" required >
                        <option value="">Select</option>
                        <option *ngFor="let incident of get_incident" value="{{incident.id}}">{{incident.incident_name}}</option>
                    </select>
                    <div *ngIf="inc_type_id.errors?.required && (inc_type_id.touched || inc_type_id.dirty)" class="text-danger">
                        Please Provide Incident Type
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <input type="hidden" name="id" #id="ngModel" ngModel>
                  <label  class="col-sm-12 col-form-label">Incident Name</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control"  name="inc_name" #inc_name="ngModel" ngModel required>
                    <div *ngIf="inc_name.errors?.required && (inc_name.touched || inc_name.dirty)" class="text-danger">
                        Please Provide Incident Name
                      </div>
                  </div>
                </div>
            </div>
             </div>

            <div class="row">
                <!-- Incident Location -->
                <div class="col-6">
                    <div class="form-group row">
                    <label  class="col-sm-12 col-form-label">Incident Location</label>
                    <div class="col-sm-12">
                       <select name="inc_location_id" #inc_location_id="ngModel" ngModel class="form-control" required>
                           <option value="">Select Location</option>
                           <option *ngFor="let loc of location" value="{{loc.id}}">{{loc.offshore_name}}</option>

                       </select>
                        <div *ngIf="inc_location_id.errors?.required && (inc_location_id.touched || inc_location_id.dirty)" class="text-danger">
                            Please Provide Incident Location
                          </div>
                    </div>
                    </div>
                </div>
                <!-- Incident Type -->
                <!-- <div class="col-4">
                <div class="form-group row">
                    <label  class="col-sm-12 col-form-label">Incident Type</label>
                    <div class="col-sm-12">
                        <angular2-multiselect
                        [data]="dropdownList"
                        name="type"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                        required
                        #type="ngModel"

                    >
                    </angular2-multiselect
                    >
                    <div *ngIf="type.errors?.required && (type.touched || type.dirty)" class="text-danger">
                        Please Provide Incident Type
                      </div>
                    </div>
                </div>
                </div> -->
                <!-- Initial Tier -->
                 <div class="col-6">
                <div class="form-group row">
                    <label  class="col-sm-12 col-form-label">Initial Tier</label>
                    <div class="col-sm-12">
                        <select name="initial_tier_id" #initial_tier_id="ngModel" ngModel class="form-control" required>
                            <option value="">Select Tier</option>
                            <option *ngFor="let tier of initial_tier" value="{{tier.id}}">{{tier.tier_type}}</option>

                        </select>
                        <div *ngIf="initial_tier_id.errors?.required && (initial_tier_id.touched || initial_tier_id.dirty)" class="text-danger">
                            Please Provide Initial Tier
                          </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-12">
                    <div class="form-group row">
                        <label  class="col-sm-12 col-form-label">Summary Of Incident</label>
                        <div class="col-sm-12">
                            <textarea #brief_desc="ngModel" required class="form-control" rows="5" cols="5" name="brief_desc" ngModel></textarea>
                            <div *ngIf="brief_desc.errors?.required && (brief_desc.touched || brief_desc.dirty)" class="text-danger">
                                Please Provide Summary Of Incident
                              </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-3">
            <div class="form-group row" [hidden]="check_active=='N'">
                <label>&nbsp;</label><br>
                <div class="col-sm-12 btnSubmitSec mt-2">
                <input type="submit" class="btn btn-info" id="submit" name="submit" value="Save" [disabled]="logForm.invalid">
                <input type="reset" onclick="" class="btn btn-info" value="Cancel" (click)="logForm.reset();logForm.value.id=0;">
                </div>
                </div>
            </div>
             </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>

<div id="snackbar">{{response}}</div>
