
<app-adminheader></app-adminheader>
<div class="page-body-wrapper">

<app-adminsidebar class="sidebarMain"></app-adminsidebar>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="card whiteBoxComon_cardCus">
     <div class="card-body">
       <div class="rowCustomFlex">
         <div class="col-3" (click)="routetoreportdatapool('I')">
          <div class="whiteBoxComon" >
            <div class="card-header card_headerCustom">
              <h2 class="pull-left text-dark titleDashBox"></h2>
            </div>
            <div class="card_bodyCustom">
              <div class="listDashboard" >
                  <h4 class="customText">Incident Reports</h4>
              </div>
            </div>
          </div>
         </div>
         <div class="col-3" (click)="routetoreportdatapool('A')">
            <div class="whiteBoxComon" >
              <div class="card-header card_headerCustom">
                <h2 class="pull-left text-dark titleDashBox"></h2>
              </div>
              <div class="card_bodyCustom">
                <div class="listDashboard" >
                    <h4 class="customText">Activation Reports</h4>
                </div>
              </div>
            </div>
           </div>
           <div class="col-3" (click)="routetoreportdatapool('C')">
            <div class="whiteBoxComon" >
              <div class="card-header card_headerCustom">
                <h2 class="pull-left text-dark titleDashBox"></h2>
              </div>
              <div class="card_bodyCustom">
                <div class="listDashboard" >
                    <h4 class="customText">Chat Box</h4>
                </div>
              </div>
            </div>
           </div>
           <div class="col-3" (click)="routetoreportdatapool('B')">
            <div class="whiteBoxComon" >
              <div class="card-header card_headerCustom">
                <h2 class="pull-left text-dark titleDashBox"></h2>
              </div>
              <div class="card_bodyCustom">
                <div class="listDashboard" >
                    <h4 class="customText">Boards</h4>
                </div>
              </div>
            </div>
           </div>

       </div>
       <div class="rowCustomFlex mt-4">
        <div class="col-3" (click)="routetoreportdatapool('L')">
         <div class="whiteBoxComon" >
           <div class="card-header card_headerCustom">
             <h2 class="pull-left text-dark titleDashBox"></h2>
           </div>
           <div class="card_bodyCustom">
             <div class="listDashboard" >
                 <h4 class="customText">Log Sheets</h4>
             </div>
           </div>
         </div>
        </div>
        <div class="col-3" (click)="routetoreportdatapool('CL')">
           <div class="whiteBoxComon" >
             <div class="card-header card_headerCustom">
               <h2 class="pull-left text-dark titleDashBox"></h2>
             </div>
             <div class="card_bodyCustom">
               <div class="listDashboard" >
                   <h4 class="customText">Call Logger</h4>
               </div>
             </div>
           </div>
          </div>
          <div class="col-3" (click)="routetoreportdatapool('H')">
            <div class="whiteBoxComon" >
              <div class="card-header card_headerCustom">
                <h2 class="pull-left text-dark titleDashBox"></h2>
              </div>
              <div class="card_bodyCustom">
                <div class="listDashboard" >
                    <h4 class="customText">Handover</h4>
                </div>
              </div>
            </div>
           </div>
      </div>


    </div>
    </div>
</div>
</div>
</div>


