
<app-adminheader></app-adminheader>
<div class="page-body-wrapper">

<app-adminsidebar class="sidebarMain"></app-adminsidebar>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
         <div class="card-body">

            <div class="titleSec">
              <div class="btnSubmitSec ">
                <h2 >Employee</h2>
                <input type="submit" class="btn btn-info float-right" [routerLink]="'/admin/employee/add'" value="Add">
            </div></div>


            <div class="row ">
                <div class="col-4">
                    <mat-radio-group aria-label="Select an option " >
                        <mat-radio-button value="A" name="employee" color="primary" checked (change)="check_Active_Inactive($event)">Active</mat-radio-button>
                        <mat-radio-button class="p-2" name="employee"  value="I"  color="primary" (change)="check_Active_Inactive($event)">Inactive</mat-radio-button>
                      </mat-radio-group>
                </div>

                 <div class="col-8">
                    <mat-form-field appearance="outline" class="float-right">
                        <mat-label>Search </mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search Employee" #input>
                    </mat-form-field>
                 </div>
             </div>

             <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>


                          <ng-container matColumnDef="Sl.No">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Sl.No </th>
                            <td mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}} </td>
                          </ng-container>


                          <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
                            <td mat-cell *matCellDef="let row" class="text-center">{{row.emp_name}} <strong *ngIf="row.user_type=='I'" [ngClass]="{'text-success':row.user_type=='I'}">(IC)</strong> </td>
                          </ng-container>


                          <ng-container matColumnDef="Contact_No.">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Contact No. </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                               <b>{{row.p_code > 0 ? '+' + row.p_code : ''}}</b>&nbsp;{{row.personal_cnct_no}}

                            </td>
                          </ng-container>


                           <ng-container matColumnDef="Edit">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <a   class="customIcon"
                                #tooltip="matTooltip"
                                matTooltip="Edit Employee"
                                  [matTooltipPosition]="positionforedit.value"
                                [routerLink]="['/admin/employee/edit',row.id]"  routerLinkActive="true">
                                    <i class="fa fa-pencil-square-o " aria-hidden="true" ></i>
                                    </a>
                              </td>
                          </ng-container>



                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[50, 100, 200, 300]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>

                </div>
             </div>
          </div>
        </div>
    </div>
</div>






