.mat-dialog-content{
  text-align: justify;
}


.heading {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  width: 40%;
}

.container {
  padding-top: 20px;
}

.content {
  padding: 0 40px 0 30px;
}

.suffix {
  float: right;
  padding-left: 5px;
}

.tb-centent {
  padding-left: 10px;
  text-align: left;
}

.table-container {
  padding: 30px 40px 0 30px;
}
