
<app-adminheader></app-adminheader>
<div class="page-body-wrapper">
<app-adminsidebar class="sidebarMain"></app-adminsidebar>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
         <div class="card-body">
            <div class="titleSec">
                <h2>Add New Position</h2></div>
             <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
            <form #logForm="ngForm" (ngSubmit)="logSubmit(logForm.value)" ngNativeValidate>
            <div class="row">

                        <!-- <div class="col-1"></div> -->
                        <input type="hidden" name="id" id="default_value" #id="ngModel" ngModel >
                        <input type="hidden" name="user" id="default_user" #user="ngModel" ngModel >
                <div class="col-sm-6">
                    <b>Position</b>
                    <input  type="text" name="position" id="position" class="form-control" ngModel #Position="ngModel" required>
                    <div *ngIf="Position.errors?.required && (Position.touched || Position.dirty)" class="text-danger h5 mt-2">
                        *Please Provide Position
                      </div>
                </div>
                </div>
                <div class="row mt-3">
                <div class="col-sm-6">
                    <div class="btnSubmitSec ">
                    <input type="submit" class="btn btn-info" name="submit" id="submit" value="Send" [disabled]="logForm.invalid">
                    <input type="button" (click)="cancel()" class="btn reset" value="Cancel" >
                    </div>
                </div>

            </div>
             </form>
        </div>
        </div>
    </div>
</div>
</div>
