<!-- <app-header [headername]="headername" [icon]="icon"></app-header>
<div class="page-body-wrapper">
<app-sidebar class="sidebarMain"></app-sidebar>
<div class="main-panel">
    <div class="content-wrapper">
         <div class="card">
         <div class="card-body">
      
            <div class="row">
                <div class="col-2">
                 <a class='customIcon'
                 #toolTip="matTooltip"
                 matTooltip="List View"
                 (click)="change_view('L')"
                 ><i class="fa fa-list" aria-hidden="true"></i></a>
                   <a class='customIcon p-2'
                   #toolTip="matTooltip"
                   matTooltip="Grid View"
                   (click)="change_view('G')"
                   ><i class="fa fa-th" aria-hidden="true"></i></a>
                   <a class="customIcon " (click)="move_files()" #toolTip="matTooltip"
                   matTooltip="Download Selected Files As Zip"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
                </div> 
                <div class="col-4 mb-2">
          
                    <ng-autocomplete 
                      [data]="Get_Uploaded_Files"
                      [searchKeyword]="keyword"
                      (selected)='selectEvent($event)'
                      (change)='onChangeSearch($event)'
                      (inputCleared)='clearInput($event)'
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate"
                      placeholder="Search by forms , files"
                      >                                 
                    </ng-autocomplete >
                    <ng-template #itemTemplate let-item >
                    <a [innerHTML]="item.form_name"></a>       
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
 
                </div>
                <div class="col-1">
                  <div class="btnSubmitSec ">
                  <input type="submit" value="Search" class="btn btn-info" (click)="serach_files()">
                </div>
                </div>
                <div class="col-3 text-center mb-1">
                  <select  #sort (change)="sorting(sort.value)">
                    <option value="">-------Filter-------</option>
                    <option value="F">Filter by form</option>
                    <option value="C">Filter by checklist</option>
                  </select>
                  </div>
                <div class="col-2 mb-1">

                 <select class="float-right" #sort (change)="sorting(sort.value)">
                   <option value="">-------Sort by latest-------</option>
                   <option value="N">Sort by Name</option>
                   <option value="D">Sort by Date</option>

                 </select>
                </div>
              </div>
            <hr class="m-0"/>
             <div class="row m-1">
                 <div class="col-10"></div>
                 <div class="col-2">
                    <div class="btnSubmitSec">
                        <input type="submit" value="+ New" class="btn btn-info  float-right" data-toggle="modal" data-target="#searchModal">
                      </div>
                 </div>
             </div>        
   
            <ngx-spinner bdColor = ""  size = "default" color = "black"   type = "ball-clip-rotate"  [fullScreen] = "false"></ngx-spinner>
            
            <div class="row mt-2" *ngIf="get_files!='' && view=='G'">
            <div class="col-md-3" *ngFor="let files of get_files">
                    <div class="file-man-box">
                      <div class="row">
                        <div class="col-6">
                          <mat-checkbox  color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(files) : null"
                          [checked]="selection.isSelected(files)">
                          </mat-checkbox>
                        </div>
                        <div class="col-6">
                          <a  class="customIcon w-100"  type="button" [matMenuTriggerFor]="menu" #Tooltip="matTooltip" matTooltip="Share {{files.file_name}}">
                            <i class="fa fa-share float-right mr-1" aria-hidden="true"></i>
                         </a>
                        <mat-menu #menu="matMenu"> 
                          <share-buttons
                          style="color: white;"
                          theme="material-light"
                          [include]="['facebook', 'whatsapp', 'email', 'copy']"
                          url="{{files.form_path}}"
                        ></share-buttons>
                        </mat-menu>
                        </div>
                      </div>

                        <div class="file-img-box">
                          
                            <a  [routerLink]="['/previewFile','forms/'+files.catg_name+'/'+files.file_name]" target="_blank">
                              <img src="/assets/images/doc.svg" *ngIf="files.file_ext=='doc'">
                            <img src="/assets/images/docx-file.png" *ngIf="files.file_ext=='docx'">
                            <img src="/assets/images/pdf.svg" *ngIf="files.file_ext=='pdf'">
                            <img src="/assets/images/png.svg" *ngIf="files.file_ext=='png'">
                            <img src="/assets/images/jpg.svg" *ngIf="files.file_ext=='jpg'">
                            <img src="/assets/images/ppt.svg" *ngIf="files.file_ext=='ppt'"></a>
                        </div>
                        <a (click)="downloadfile(files.form_path,files.file_name)" type="button" #Tooltip="matTooltip" matTooltip="Download {{files.file_name}}" class="file-download"><i class="fa fa-download"></i></a>
                        <div class="file-man-title">
                            <h5 class="mb-0 Customtextoverflow"
                             #tooltip="matTooltip"
                            matTooltip="{{files.file_name}}"
                            >{{files.file_name}}</h5>
                            <p class="mb-0  Customtextoverflow" #Tooltip="matTooltip" matTooltip="{{files.form_name}}"><small >{{files.form_name}}</small></p>
                        </div>
                    </div>
            </div>
            </div>   
            <div class="e-empty" *ngIf="get_files=='' && (view=='G' || view=='L')" >
              <div><i aria-hidden="true" class="fa fa-file-o" style="font-size: 72px;color: rgb(126 126 126);"></i></div>
              <div class="mt-3"><h2>No Files Available</h2></div>
            </div>          
            <div class="container-m-nx" *ngIf="view=='L' && get_files!=''">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">
              <input type="checkbox"  class="float-left">

              <ng-container matColumnDef="chk">
                <th mat-header-cell *matHeaderCellDef > 
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                  color="primary"
                  [checked]="selection.hasValue() && isAllSelected()"
                   >
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox  color="primary" (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef > </th>
                <td mat-cell *matCellDef="let row">
                  <a style="cursor:pointer" type="button" 
                [routerLink]="['/previewFile','forms/'+row.catg_name+'/'+row.file_name]" target="_blank"
                #tooltip="matTooltip"
               matTooltip="Preview  {{row.file_name}}"> <img src="/assets/images/doc.svg"   height="40px" width="40px" *ngIf="row.file_ext=='doc'">
                  <img src="/assets/images/docx-file.png"  height="40px" width="40px" *ngIf="row.file_ext=='docx'">
                  <img src="/assets/images/pdf.svg"   height="40px" width="40px" *ngIf="row.file_ext=='pdf'">
                  <img src="/assets/images/png.svg"  height="40px" width="40px" *ngIf="row.file_ext=='png'">
                  <img src="/assets/images/jpg.svg"  height="40px" width="40px" *ngIf="row.file_ext=='jpg'">
                  <img src="/assets/images/ppt.svg"  height="40px" width="40px" *ngIf="row.file_ext=='ppt'"></a>
                </td>
              </ng-container>
            
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef > Name </th>
                <td mat-cell *matCellDef="let row"  #Tooltip="matTooltip" matTooltip="{{row.file_name}}">     
                    {{row.form_name}}
                </td>
              </ng-container>
            
           
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef > Date </th>
                <td mat-cell *matCellDef="let row" >{{row.date}} </td>
              </ng-container>
            
       
              <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let row" >{{row.file_ext.toUpperCase()}}</td>
              </ng-container>
            
           
              <ng-container matColumnDef="Created_by">
                <th mat-header-cell *matHeaderCellDef> Created By </th>
                <td mat-cell *matCellDef="let row">{{row.created_by}}</td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                  <a style="cursor:pointer" type="button" #toolTip="matTooltip" matTooltip="Download {{row.file_name}}" (click)="downloadfile(row.form_path,row.file_name)"><i class="fa fa-download text-dark" style="font-size: 20px;"></i></a>
                

                  <a  style="cursor:pointer"  type="button" [matMenuTriggerFor]="menu" #toolTip="matTooltip" matTooltip="Share {{row.file_name}}">
                    <i class="fa fa-share float-right ml-3 text-dark" style="font-size: 20px;" aria-hidden="true"></i>
                 </a>
                <mat-menu #menu="matMenu"> 
                  <share-buttons
                  style="color: white;"
                  theme="material-light"
                  [include]="['facebook', 'whatsapp', 'email', 'copy']"
                  url="{{row.form_path}}"
                ></share-buttons></mat-menu>
              </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            

            </div>

         </div>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="searchModal">
    <div class="modal-dialog">
      <div class="modal-content">
  

        <div class="modal-header">
          <h4 class="modal-title">Upload Files</h4>
          <button type="button" class="close" data-dismiss="modal" id="closeModal">&times;</button>
        </div>
       
        <form #logForm="ngForm" (ngSubmit)="submit(logForm.value)">

        <div class="modal-body"> 
            <div class="row">
                <div class="col-12">
                    <label>Folder Name</label>
                    <input type="text" name="category_name" id="cat_name" class="form-control" #category_name="ngModel" [(ngModel)]="catg_name"  readonly>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <label>Form Name</label>
                    <input type="text" name="form_name" id="Form_name"  class="form-control"  #form_name="ngModel" ngModel required>
                    <div *ngIf="form_name.errors?.required && (form_name.touched || form_name.dirty)" class="text-danger">
                        *Please Provide File Name
                      </div>
                </div>
                <div class="col-12">
                    <label>Select File</label>
                    <input type="file" (change)="change_file($event)"  class="form-control" name="file" id="File"  class="form-control"  #file="ngModel" ngModel required><br/>
                    <span *ngIf="!check_format">(Note: only pdf,doc or docx file can be uploaded)</span>
                    <mat-error *ngIf="check_format">*please Provide Valid Format</mat-error>
                    <div *ngIf="file.errors?.required && (file.touched || file.dirty)" class="text-danger">
                        *Please Select A File 
                      </div>
                </div>

            </div>
            
        </div>
  

        <div class="modal-footer">
            <div class="btnSubmitSec">
               
                    <input type="submit" value="Upload" class="btn btn-info" [disabled]="check_format || logForm.invalid">

           </div>
        </div>
    </form>
      </div>
    </div>
  </div>
 -->


 <app-header [headername]="headername" [icon]="icon"></app-header>
<div class="page-body-wrapper">
<app-sidebar class="sidebarMain"></app-sidebar>
<div class="main-panel">
    <div class="content-wrapper">
         <div class="card">
         <div class="card-body">

          <div class="container-m-nx container-m-ny bg-lightest mb-3" >
           <div class="row">
             <div class="col-1">
              <a class='customIcon'
              #toolTip="matTooltip"
              matTooltip="List View"
              (click)="change_view('L')"
              ><i class="fa fa-list" aria-hidden="true"></i></a>
                <a class='customIcon float-right'
                #toolTip="matTooltip"
                matTooltip="Grid View"
                (click)="change_view('G')"
                ><i class="fa fa-th" aria-hidden="true"></i></a>
             </div> 
             <div class="col-6"></div>
             <div class="col-5 mb-2">
              <select class="float-right" #sort (change)="sorting(sort.value)">
                <option value="">-------Sort by latest-------</option>
                <option value="N">Sort by Name</option>
                <option value="D">Sort by Date</option>

              </select>
             </div>
           </div>
            <hr class="m-0" />
        </div>
        <ngx-spinner bdColor = ""  size = "default" color = "black"   type = "ball-clip-rotate"  [fullScreen] = "false"></ngx-spinner>
    
        <div class="file-manager-container file-manager-col-view" *ngIf="view_type=='G' && get_category!=''">
            <div class="file-item" *ngFor="let cat of get_category" [routerLink]="['/Repository/files',cat.id,cat.catg_name]">
                <!-- <div class="file-item-select-bg bg-primary"></div> -->
                <!-- <a class="customIcon w-100" type="button" [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v float-right mr-3" aria-hidden="true"></i></a>
                  <mat-menu #menu="matMenu"> </mat-menu> -->
                <div class="file-item-icon fa fa-folder text-secondary" ></div>
                <a>
                   {{cat.catg_name}}
                </a>
                <!-- <div class="file-item-changed">02/13/2018</div> -->
              
            </div>
  

        </div>
      
        <div class="container-m-nx" *ngIf="view_type=='L' && get_category!=''"> 
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">

            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef > </th>
              <td mat-cell *matCellDef="let element" class="p-0"  [routerLink]="['/Repository/files',element.id,element.catg_name]">
                <i class="fa fa-folder" style="color:gray;font-size:30px;padding:5px"></i>          
              </td>
            </ng-container>
            
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef > Name </th>
              <td mat-cell *matCellDef="let element"  [routerLink]="['/Repository/files',element.id,element.catg_name]">
                {{element.catg_name}} 
              </td>
            </ng-container>
          
         
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef > Date </th>
              <td mat-cell *matCellDef="let element" >{{element.created_at}} </td>
            </ng-container>
          
     
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef > Type </th>
              <td mat-cell *matCellDef="let element" >file Folder</td>
            </ng-container>
          
         
            <ng-container matColumnDef="Created_by">
              <th mat-header-cell *matHeaderCellDef > Created By </th>
              <td mat-cell *matCellDef="let element" >{{element.created_by}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      
        <div class="text-center" *ngIf="(view_type=='G' || view_type=='L') && get_category==''">
          <div><i class="fa fa-folder-o" aria-hidden="true" style="font-size: 72px; color:rgb(171, 167, 167);"></i></div>
          <div><h2>No Folders Available</h2></div>
      </div>

      
      </div>
             
        </div>
        </div> 
    </div>

 </div>
