/* .mat-cell{text-align: center;}
th.mat-header-cell{text-align: center;} */
/* .customBtn{background: #404f71;color: #fff;border: none;border-radius: 2px;font-size: 15px;padding: 6px 15px;margin-right: 10px;} */
#addManualLog{display: none;}
#DataTable{display:none;}
