
<app-header  (IncStatus)="getIncDetails($event)"></app-header>
<div class="page-body-wrapper">
<app-sidebar class="sidebarMain"></app-sidebar>
<div class="main-panel">
  <div class="content-wrapper">
       <div class="card">
       <div class="card-body">
        <div class="titleSec">
          <div class="btnSubmitSec">
            <h2 >{{paramsString > 0 ? 'Update' : 'Add'}} Lesson Learnt</h2>
          </div>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"></ngx-spinner>

          <form [formGroup]="lesson_learnt" ngNativeValidate>
          <div class="row form-group mt-2">
            <div class="col-sm-6">
              <label>REF <span class="text-danger">*</span></label>
              <input type="text" id="ref" class="form-control" formControlName="ref"/>
            </div>
            <div class="col-sm-6 mt-2">
              <!-- <label>Incident</label>
              <input type="text" id="inc" class="form-control" formControlName="inc_id" readonly/> -->
            </div>
            <div class="col-sm-6 mt-2">
              <label>TITLE <span class="text-danger">*</span></label>
              <input type="text" id="title" class="form-control" formControlName="title"/>
            </div>
            <div class="col-sm-6 mt-2">
              <label>DATE <span class="text-danger">*</span></label>
              <input type="date" id="date" class="form-control" formControlName="date"/>
            </div>
          </div>
          <div class="row form-group mt-4">
            <div class="col-sm-6">
              <label>DESCRIPTION OF THE INCIDENT <span class="text-danger">*</span></label>
              <textarea id="desc" class="form-control" formControlName="desc" rows="5"></textarea>
            </div>
            <div class="col-sm-6">
              <label>RECOMMENDATIONS <span class="text-danger">*</span></label>
              <textarea id="rec"  class="form-control" formControlName="rec" rows="5"></textarea>
            </div>
          </div>

          <div class="row form-group mt-4">
            <div class="col-sm-6">
              <label>ATTACHMENT
              </label>
               <input type="file" formControlName="fileSource"  class="form-control"  (change)="onFileChange($event)" multiple accept=".png,.jpeg,.jpg"/>
               <mat-hint class="mt-5"><strong class="text-danger ">Note: Only .png,.jpg,.jpeg are allowed</strong></mat-hint>
            </div>
            <div class="col-sm-6" *ngIf="FILE.length > 0">
                    <div  class="imageLink" *ngFor="let file of FILE;let i = index" >
                      <!-- [href]="file.file" -->
                      <a  (click)="clickToOpenFile(file.file)">
                        <img class="attchments"  [src]="sanitizer.bypassSecurityTrustUrl(file.file)" alt="Attachments" style="width:100px;height:100px">
                      </a>
                      <a class="deleteIcon" (click)="deleteMeetingFile(file.id,i)">
                        <i class="fa fa-times-circle-o" aria-hidden="true" ></i>
                      </a>

                    </div>
            </div>
            </div>

          <div class="row mt-4">
            <div class="col-sm-6">
              <div class="btnSubmitSec ">
                <input type="submit" [disabled]="lesson_learnt.invalid" value="Save As Draft" class="btn btn-info" id="draft" (click)="submit('N')"/>
                <input type="submit" [disabled]="lesson_learnt.invalid" value="Save As Final" class="btn btn-info" id="final" (click)="submit('Y')"/>
                </div>
            </div>

          </div>
        </form>
       </div>
       </div>
      </div>
    </div>
  </div>
</div>
