<app-header [headername]="headername" [icon]="icon"></app-header>
<div class="page-body-wrapper">
<app-sidebar class="sidebarMain"></app-sidebar>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
         <div class="card-body">


             <div class="titleSec">
                 <!-- <button type="button" class="btn btn-primary" routerLink="/AddIncident" routerLInkActive="true">Create Incident</button> -->
             <h2>Incidents</h2>
             </div> <br>
            <div class="row">
              <!-- For Radio Button -->
            <div class="col-4">
              <mat-radio-group aria-label="Select an option " >
                <mat-radio-button value="O" id="status_AD" color="primary" checked (change)="check_Active_Inactive($event)">Open</mat-radio-button>
                <mat-radio-button class="p-2" value="C"  color="primary" (change)="check_Active_Inactive($event)">Close</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-4"></div>
              <!-- For search -->
            <div class="col-4 float-right">
             <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
             </div>
            </div>
             <div class="row">
             <div class="col-sm-12">
          <div class="mat-elevation-z8">
            <!-- <ngx-spinner bdColor = "" size = "medium" color = "#213f79" type = "ball-clip-rotate" [fullScreen]="false"><p style="color: #213f79;" > Please Wait... </p></ngx-spinner> -->
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef class="text-center"> # </th>
                <td mat-cell *matCellDef="let row;let i=index"  class='text-center'> {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="Inc_no">
                <th mat-header-cell *matHeaderCellDef  class='text-center'> Incident No. </th>
                <td mat-cell *matCellDef="let row"  class='text-center'>{{row.inc_no}} </td>
              </ng-container>

              <ng-container matColumnDef="Incident_name">
                <th mat-header-cell *matHeaderCellDef  class='text-center'> Name </th>
                <td mat-cell *matCellDef="let row"  class='text-center'>{{row.inc_name}} </td>
              </ng-container>

              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef  class='text-center'> Date </th>
                <td mat-cell *matCellDef="let row"  class='text-center'>{{row.inc_dt | date:'dd/MM/YYYY'}}</td>
              </ng-container>

              <!-- Fruit Column -->


               <!-- Fruit Column -->
               <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef  class='text-center'> Action </th>
                <td mat-cell *matCellDef="let row"  class='text-center'>
                    <a  class="customIcon"   [routerLink]="['/EditIncident',row.id]"  routerLinkActive="true">
                    <!-- <i class="fa fa-pencil" aria-hidden="true" ></i> -->
                    <i [ngClass]="row.inc_status == 'O' ? 'fa fa-pencil-square-o': 'fa fa-eye'" aria-hidden="true"
                    #tooltip="matTooltip"
                    [matTooltipPosition]="position.value"
                    [matTooltip]="row.inc_status=='O' ? 'Edit Incident' : 'View Incident'"
                    ></i>
                    </a>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>
          </div>




            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>


