
<div class="landingContainer">
<div class="landingContainerSub">
<div class="logoLanding">
  <div class="logoSec">
    <img _ngcontent-vfn-c310="" src="assets/images/logoLogin.png" alt="" class="logoLogin">
  </div>
  <div class="logoRightTxt"> Virtual Emergency Response Management System </div>
  </div>


  
  <div class="mainContainerLanding">
  <!-- <div class="menUlogoSec"> -->
      <!-- <section >
   
        <br>
      </section>
       <section class="menuSec"> -->
      
  <div class="col-sm-4 float-left">
    <div class="boxLanding">
      <div class="iconLand iconColor_1"><img _ngcontent-vfn-c310="" src="assets/images/icon_land_1.png" alt=""></div>
    <button class="btn btn-block"><strong>Training/Drill</strong></button>
    </div>
  </div>

  <div class="col-sm-4 float-left">
    <div class="boxLanding">
      <div class="iconLand iconColor_2"><img _ngcontent-vfn-c310="" src="assets/images/icon_land_2.png" alt=""></div>
    <button  class="btn btn-block" routerLink="/login" routerLinkActive="true"><strong>Live Emergency Event</strong></button>
    </div>
  </div>

  <div class="col-sm-4 float-left">
    <div class="boxLanding">
      <div class="iconLand iconColor_3"><img _ngcontent-vfn-c310="" src="assets/images/icon_land_3.png" alt=""></div>
    <button  class="btn btn-block"><strong>Maintanance & Support</strong></button>
    </div>
  </div>
      
       <!-- </section> -->
  <!-- </div>	 -->
  </div>	
  <!-- <div class="footerLand">Copyright © 2022  Virtual Emergency. All Rights Reserved.</div> -->
 

</div>
</div>
  
  
  
  
  

   
  
