<div class="header">
    <strong>VIRTUAL EMERGENCY</strong>
  </div>
  
  <div class="mainContainer">
  <div class="menUlogoSec">
      <section >
   
        <br>
      </section>
       <section class="menuSec">
      <!-- <p align="center"><button onclick="document.getElementById('restaurant').style.display='block'" class="w3-button w3-highway-blue"><strong>Restaurant</strong></button></p>
      <p align="center"><button onclick="document.getElementById('artist').style.display='block'" class="w3-button w3-highway-blue"><strong>Artist</strong></button></p>
      <p align="center"><button onclick="document.getElementById('merchant').style.display='block'" class="w3-button w3-highway-blue"><strong>Merchant</strong></button></p> -->
  
      <p align="center"><button class="w3-button w3-highway-blue"><strong>Training/Drill</strong></button></p>
      <p align="center"><button  class="w3-button w3-highway-blue" routerLink="/login" routerLinkActive="true"><strong>Live Emergency Event</strong></button></p>
      <p align="center"><button  class="w3-button w3-highway-blue"><strong>Maintanance & Support</strong></button></p>
       </section>
  
  </div>	
  </div>	
  <div class="footer"><br>
</div>
  
  
  
  
  

   
  
