
<div class="loginContainer">

	<div class="loginContainerSub">
	<div class="col-sm-7 loginLeft float-left">
		<img src="assets/images/logoLogin.png" alt="" class="logoLogin"/>
<div class="leftLoginSec">
		<img src="assets/images/imgLogin.png" alt=""/> 
		<h2>Welcome To United Emergency</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	<div class="col-sm-5 loginRight float-left">
		
		<h1>Login</h1> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="loginForm">
			<form #logForm="ngForm" (ngSubmit)="submitForm(logForm.value)">
				<!-- Email input -->
			
					<label class="form-label" for="email">Email address</label>
				  <input type="email" id="email" class="form-control"  name="email" #email="ngModel" ngModel required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"/>
				  <div *ngIf="email.errors?.required && (email.touched || email.dirty)" class="text-white">
					*Please Provide Email
				  </div>
				  <div *ngIf="email.touched">
					<div class="text-white" *ngIf="email.errors?.pattern">
					  *Not a valid email
				   </div>
				</div>
                <input type="hidden" id="check_email" value="0">
                <button type="submit" class="loginBtn mt-4"  id="submit">Submit</button>

			</form>
		</div>
	</div>
	</div>

</div>










