<app-adminheader></app-adminheader>
<div class="page-body-wrapper">

<app-adminsidebar class="sidebarMain"></app-adminsidebar>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
         <div class="card-body">
            <div class="titleSec">
              <div class="btnSubmitSec ">
                <h2 >Offshore</h2>
                <input type="submit" class="btn btn-info float-right" routerLink="/admin/offshore/add" routerLinkActive="true" value="Add">
                </div>
            </div>


            <div class="row ">
                <div class="col-4">
                    <mat-radio-group aria-label="Select an option " >
                        <mat-radio-button value="A" id="status_AD" color="primary" checked (change)="check_Active_Inactive($event)">Active</mat-radio-button>
                        <mat-radio-button class="p-2" value="I"  color="primary" (change)="check_Active_Inactive($event)">Inactive</mat-radio-button>
                      </mat-radio-group>
                </div>
              <!-- </div>


             <div class="row mt-3">-->
                 <div class="col-8">
                    <mat-form-field appearance="outline" class="float-right">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search Offshore" #input>
                    </mat-form-field>
                 </div>
                 <!-- <div class="col-sm-8"></div> -->
             </div>
             <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                              <!-- Progress Column -->
                          <ng-container matColumnDef="Sl.No">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Sl.No </th>
                            <td mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="Offshore">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Offshore </th>
                            <td mat-cell *matCellDef="let row" class="text-center">{{row.offshore_name}}</td>
                          </ng-container>

                          <!-- Fruit Column -->
                          <ng-container matColumnDef="Location" >
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Location </th>
                            <td mat-cell *matCellDef="let row" class="text-center"> {{row.location_name}} </td>
                          </ng-container>

                           <!-- Fruit Column -->
                           <ng-container matColumnDef="Edit">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                            <td mat-cell *matCellDef="let row;let i=index" class="text-center">
                                <a  class="customIcon"  type="button" #tooltip="matTooltip"
                                matTooltip="Edit Offshore"
                                [matTooltipPosition]="positionforedit.value"
                                [routerLink]="['/admin/offshore/edit',row.id]"  routerLinkActive="true">
                                    <i class="fa fa-pencil-square-o " aria-hidden="true" ></i>
                                    </a>

                                    <a  class="customIcon" type="button" #tooltip="matTooltip"
                                    matTooltip="Delete Offshore"
                                    [matTooltipPosition]="positionfordelete.value"
                                     (click)="modify_modal(row.id,i)">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                              </td>
                          </ng-container>



                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[50, 100, 200, 300]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>

                </div>
             </div>
          </div>
        </div>
    </div>
</div>

