/* table {
    width: 100%;
  }

  th.mat-header-cell {
    text-align: left;
    font-size: 15px;
    color: #fff;
    background: #213f79;
} */
/* td{
    width:17.5%;
} */
/* mat-form-field{
    width:50%
} */
/* .fade {opacity: 0;-webkit-transition: opacity 0.15s linear;-moz-transition: opacity 0.15s linear;-o-transition: opacity 0.15s linear;transition: opacity 0.15s linear;}
.fade.in {opacity: 1;} */